@charset "utf-8";

section {
    width: 100%;
    height: calc(100vh - 50px);
    padding: 0 50px;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.alt {
    background-color: var(--darker);
    text-align: left;
}

section h1 {
    color: var(--accent);
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}

section p {
    font-size: 20px;
    margin: 0;
}

section li {
    padding: 2px 0;
}